{% load static from staticfiles %}
<!doctype html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" href="{% static "js/offlinejs/themes/offline-theme-default.css" %}">
    <!-- <link rel="stylesheet" href="{% static "js/jasmine/lib/jasmine-2.4.1/jasmine.css" %}"> -->
    <style> .off { opacity: 0.75; }</style>
  </head>
  <body ng-app="angularTestTwo">

    <div ng-controller="mainCtrl">

      <div class="ui stackable inverted violet menu">
        <div class="header item">Offline Engine</div>
        <a class="item" ng-click="forceRefresh()"><i class="ui refresh icon"></i> Force Refresh</a>
        <a class="item" ng-click="clearDB()"><i class="ui cancel icon"></i> Clear All</a>
        <div class="right menu">
          <div class="item">
            <form class="ui inverted action input" ng-submit="createObject(candidateItem)">
              <input type="text" ng-model="candidateItem.text" placeholder="Enter a new item">
              <button class="ui button" type="submit">Create</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ui centered grid">
        <div class="row"></div>
        <div class="row">
          <div class="fourteen wide column">
            <card></card>
          </div>
        </div>
        <div class="row"></div>
      </div>

  </div>

    <script src="{% static "js/angularjs/angular.min.js" %}"></script>
    <script src="{% static "js/jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/notify/notify.min.js" %}"></script>
    <script src="{% static "js/offline-angular-app/app.js" %}"></script>
    <script src="{% static "js/offline-angular-app/controllers/mainCtrl.js" %}"></script>
    <script src="{% static "js/offline-angular-app/services/fakeAPI.js" %}"></script>
    <script src="{% static "js/offline-angular-app/services/offlineDB.js" %}"></script>
    <script src="{% static "js/offline-angular-app/directives/card.js" %}"></script>
    <script src="{% static "js/offlinejs/offline.min.js" %}"></script>
    <script src="{% static "js/indexedDB-polyfill/indexeddbpolyfill.min.js" %}"></script>
    <script src="{% static "js/lodash/lodash.js" %}"></script>
    <script src="{% static "js/async/async.js" %}"></script>
    <!--
    <script src="{% static "js/jasmine/lib/jasmine-2.4.1/jasmine.js" %}"></script>
    <script src="{% static "js/jasmine/lib/jasmine-2.4.1/jasmine-html.js" %}"></script>
    <script src="{% static "js/jasmine/lib/jasmine-2.4.1/boot.js" %}"></script>
  -->

    <script>
    Offline.options =  {
      // Should we check the connection status immediatly on page load.
      checkOnLoad: true,
      // Should we store and attempt to remake requests which fail while the connection is down.
      requests: true,
      checks: {image: {url: 'http://www.atlanticgeomatics.co.uk/assets/images/logo.png'}, active: 'image'}
    };

    </script>

  </body>
</html>
