<div class="ui cards">

  <div ng-class="{'card': true, 'off': !person.fields.clicked}" ng-repeat="person in dataModel">

    <div class="content">
      <!-- <img class="right floated mini ui image" src="https://unsplash.it/100?random"> -->
      <i class="close link right floated icon" ng-click="deleteThis(person)"></i>
      <div class="header">
        {{ person.fields.text }}
      </div>
      <div class="meta">
        <h6>{{person.pk}}</h6>
      </div>
      <div class="description">
        {{ person.company.catchPhrase}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui grey button" ng-click="updateThis(person)" ng-class="{'basic' : person.fields.clicked}">Off</div>
        <div class="ui button" ng-click="updateThis(person)" ng-class="{'basic' : !person.fields.clicked, 'teal' : person.fields.clicked, 'grey' : !person.fields.clicked}">On</div>
      </div>
    </div>

  </div>

</div>
